body {
    background-color: lightgray;
}

.contact-avatar-holder {
    width: 75px;
    max-width: 75px;
    flex: 0 0 75px;
}

.contact-avatar {

    position: relative;
    height: 70px;
    width: 70px;
    background: antiquewhite;
    background-image: url(https://via.placeholder.com/65?text=img);
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

form .contact-avatar {
    margin-bottom: 20px;
    margin-top: -14px;
}

.contact-block{

    margin-top: 20px;

}

.contact-buttons{
    width: 100%;
}

.contact-buttons button{
    width: 50%;
}
